%h2 All Nonadmin Users

%table.table
  %thead
    %tr
      %th Name
      %th Language
      %th Select
  %tbody
    - @users_hash.each do |user_id, name, first_lang_preference|
      %tr
        %td= name
        %td= first_lang_preference
        %td= link_to "Select", admin_add_to_pair_path(:id => @user.id, :user_id => user_id, :pair_id => @pair.id) 

