/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: 'Helvetica', sans-serif; }

#main {
  margin: 0 auto;
  font-size: 1em;
  max-width: 800px; }

a {
  background: transparent;
  color: #00B0DA;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav {
  width: 100%;
  background-color: #00B0DA;
  color: #fff;
  height: 30px;
  padding: 20px; }
  nav #header {
    font-size: 1.5em;
    font-weight: 500; }
  nav ul {
    float: right;
    margin-top: 5px;
    margin-right: 40px;
    height: 40px;
    list-style-type: none; }
    nav ul li {
      display: inline-block; }
    nav ul a {
      color: #fff; }

form .question {
  margin-bottom: 20px; }
form label {
  display: block;
  font-style: bold; }
form input {
  border: 1px solid #d3d3d3;
  padding: 5px; }
form select {
  border: 1px solid #d3d3d3;
  border-radius: 0;
  height: 30px;
  padding: 5px;
  background: transparent; }
form select[multiple] {
  height: auto; }
.groups li {
  width: 400px;
  margin-bottom: 20px;
  list-style-type: none; }

.delete-group {
  position: relative;
  top: -40px;
  right: -500px; }
