%h2 Language Groups

%div#groups
  %div.groups
    - if !@mon_groups.empty?
      %h4 Monday
      - @mon_groups.each do |group|
        %p=group.language
        %p=group.time
        %p=group.location
    - if !@tues_groups.empty?
      %h4 Tuesday
      - @tues_groups.each do |group|
        %p=group.language
        %p=group.time
        %p=group.location
    - if !@wed_groups.empty?
      %h4 Wednesday
      - @wed_groups.each do |group|
        %p=group.language
        %p=group.time
        %p=group.location
    - if !@thurs_groups.empty?
      %h4 Thursday
      - @thurs_groups.each do |group|
        %p=group.language
        %p=group.time
        %p=group.location
    - if !@fri_groups.empty?
      %h4 Friday
      - @fri_groups.each do |group|
        %p=group.language
        %p=group.time
        %p=group.location
