
%h2 Edit your application


-#= render 'basic_info_form'

-#= render 'lang_proficiency_form'

-#= render 'time_preferences_form'

-#= render 'additional_information'

= render 'form'

%p
= link_to 'Back', users_path
