%h1 Welcome

%p
  To sign up for the Berkeley Language Exchange Program, please fill out the form below. Your answers will help us pair you with one or two conversational partners

= form_for :user, url: {action: "create"}, :class => "field_with_errors" do |f|
  = render 'form', :f => f
