%h1 Language Exchange Program Intake Form

-#Basic Information
-#= render 'basic_info_form'

-#Language Proficiency Information
-#= render 'lang_proficiency_form'

-#Availability
-#= render 'time_preferences_form'

-#Additional Information about You
-#= render 'additional_information'

= render 'form'