%h1 Welcome to the LEP Page!


%p The Language Exchange Program provides a free, flexible, and fun-filled way for Cal students, international and domestic alike, to meet and share their language skills. We emphasize mutual exchange by all participants, so you will have the opportunity to learn and to teach a language. You will be grouped and/or paired with a proficient speaker of the language you are interested in practicing. Through our program, you will be able to refine not only your multilingual skills but also your ability to communicate effectively across cultures. Best of all, by participating in the Language Exchange Program, you become a member of the Student Learning Center -- an inclusive, robust global learning community of over 20 professional educators, 300 student staff, and 7000 Cal undergraduates.


%p 
To sign up, 
= link_to "please login with your Berkeley email address.", '/auth/google_oauth2'
