// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.group-title {
  display: block;
  width: 50%;
  margin-right: 0;
  float: left;
}

.clearfix {
  clear: both;
}

.groups {
  padding-left: 0;
}
.group{
  width: 400px;
  margin-bottom: 20px;
  list-style-type: none;
}

.group-manage {
  clear: both;
}

h2 {
  display: inline-block;
}

h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}


#add-group {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 100px;
}

.language {
  display: block;
  
}

.group-options {
  position: relative;
  top: -42px;
  right: -500px;

  a {
    margin: 0 10px;
  }
}
