%nav
  %span#header Language Exchange Program 

  - if request.env['PATH_INFO'] != '/'
    %ul
      %li
        = link_to "Language Groups", groups_path
      %li
        = link_to "Logout", "https://mail.google.com/mail/u/0/?logout&hl=en"


- if flash[:notice]
  #notice.message= flash[:notice]
- if flash[:warning]
  #notice.warning= flash[:warning]

